{% extends "base_generic.html" %}

{% block content %}

  <h1>{{ question }}</h1>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
            <small class='form-text text-muted'>{{ field.help_text }}</small>
          {% endif %}
        </p>
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit your guess</button>
  </form>    
  
  {% endblock %}