{% extends "base_generic.html" %}

{% block content %}

  {% if user %}
  
    <p><strong>Team Name: </strong> {{ user.username }}</p>
    
    {% if user.profile %}
    
      {% if user.profile.captain %}
        <p><strong>Captain: </strong>{{ user.profile.captain }}</p>
      {% endif %}
    
      <p><strong>Team Members:</strong></p>
      <ul>
          {% if user.profile.team_member2 %}<li>{{ user.profile.team_member2 }}{% endif %}</li>
          {% if user.profile.team_member3 %}<li>{{ user.profile.team_member3 }}{% endif %}</li>
          {% if user.profile.team_member4 %}<li>{{ user.profile.team_member4 }}{% endif %}</li>
          {% if user.profile.team_member5 %}<li>{{ user.profile.team_member5 }}{% endif %}</li>
      </ul>
      
    {% endif %}
    
    {% if user.profile.questions_answered.exists %}
    
      <p><strong>Last Problem Solved: </strong>{{user.profile.questions_answered.last.number}}</p>
      
    {% else %}
      
      <p>This team has not answered solved any problems yet</p>
    
    {% endif %}
      
      
  {% endif %}
    
{% endblock %}

